# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda/Environment targets
.Conda/
env/
venv/

# IDE files
.vscode/
.idea/

# Jupyter checkpoint
.ipynb_checkpoints/

# Dataset
dataset/original-dataset/

# Temp folder
tmp/